<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTest">
    <listeners>
        <listener class-name="core.utils.TestListner"></listener>
    </listeners>
    <test name="Test 1">
        <classes>
            <class name="auto.SmokeTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->
